// Colors
$black: #000000;
$blue: #009cc8;
$gray: #444444;
$green: #00ff00;
$red: #ff0000;
$white: #ffffff;

// Border
$border-color: $gray;
$border-radius: 2px;
$border-size: 1px;
$border-size-medium: 2px;
$border-size-thick: 4px;

// Fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', Arial, sans-serif;

// Responsive
$monitor: 1280px;
$tablet: 960px;
$phone: 600px;

// Spacing
$gutter: 20px;
